/*Universal Styles*/
body {
    background-color: white;
    color: darkgray;
    font-size: 22px;
    text-align: center;
}

a {
    color: cornflowerblue;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: lighter;
}

div.flex-container {
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
}

/*Header*/

header {
    height: 64px;
    /*position: fixed;
    z-index: 1;*/
    background-color: white;
}

header img {
    height: 32px;
    float: left;
    padding-left: 24px;
}

header h1 {
    font-size: 32px;
    /*float: left;*/
}
header h1 span {
    font-weight: lighter;
}

nav {
    text-align: right;
    padding: 0 16px;
}

/*Main Section*/

.main {
    padding-top: 64px;
    width: 1200px;
    margin: auto;
}

/*Learn Something Section*/
/*#learnS {
    display: flex;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-color: lightgray;
}
#learnS img {
    width: 60%;
    padding: 24px 32px;
}
#learnS span {
    padding: 8px 0;
}

/*Practice Section*/
/*#practice {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
}

.practiceleft {
    display: inline-flex;
    width: 60%;
}

.practiceleft img {
    
    padding: 24px 32px;
}
.practiceright {
    display: inline-flex;
    width: 40%;
}*/